In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [2]:
spark = SparkSession.builder.appName("lab2").getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [3]:
df = spark.read.option('header', True).csv('data.csv')

In [4]:
df.show()

+----+-----+
|Name|Marks|
+----+-----+
|   x|   80|
|   y|   93|
|   z|   50|
|   a|   85|
|   b|   79|
|   c|   67|
|   d|   43|
+----+-----+

In [5]:
df1 = df.filter(df['Marks'] > 75)

In [6]:
df1.show()

+----+-----+
|Name|Marks|
+----+-----+
|   x|   80|
|   y|   93|
|   a|   85|
|   b|   79|
+----+-----+

In [7]:
df1 = df1.withColumn('Marks',f.col('Marks') - 5).show()

+----+-----+
|Name|Marks|
+----+-----+
|   x| 75.0|
|   y| 88.0|
|   a| 80.0|
|   b| 74.0|
+----+-----+

In [8]:
df.select(f.count(df.Name)).show()

+-----------+
|count(Name)|
+-----------+
|          7|
+-----------+

In [9]:
df.select(f.avg(df.Marks)).show()

+----------+
|avg(Marks)|
+----------+
|      71.0|
+----------+

In [10]:
df.select(f.sum(df.Marks)).show()

+----------+
|sum(Marks)|
+----------+
|     497.0|
+----------+

In [11]:
data = [("Vishal","Educative","Engg","USA"),
    ("Michael","Google",None,"Asia"),
    ("Robert",None,"Marketing","Russia"),
    ("Maria","Netflix","Finance","Ukraine"),
    (None, None, None, None)
  ]

columns = ["emp name","company","department","country"]
df = spark.createDataFrame(data = data, schema = columns)

csv_file_path = "data1.csv"
df.write.option("header", True).option("delimiter",",").csv(csv_file_path)

In [12]:
df2 = spark.read.csv('data1.csv', header=True, inferSchema=True)

In [13]:
df2.show()

+--------+---------+----------+-------+
|emp name|  company|department|country|
+--------+---------+----------+-------+
|   Maria|  Netflix|   Finance|Ukraine|
|  Vishal|Educative|      Engg|    USA|
|  Robert|     null| Marketing| Russia|
| Michael|   Google|      null|   Asia|
|    null|     null|      null|   null|
+--------+---------+----------+-------+

In [14]:
lines = spark.read.text('sen.txt')

In [15]:
words = lines.withColumn('word', f.explode(f.split(f.col('value'),' ')))\
    .groupBy('word')\
    .count()\
    .sort('count', ascending = False)\
    .show()

+------------+-----+
|        word|count|
+------------+-----+
|         the|   15|
|          of|   11|
|          is|    6|
|           a|    6|
|         The|    5|
|         Ram|    4|
|          to|    4|
|         was|    3|
|         for|    3|
|      temple|    3|
|       Babri|    2|
|          by|    2|
|      Mandir|    2|
|       under|    2|
|          be|    2|
|       India|    2|
|        site|    2|
|        land|    2|
|construction|    2|
|        that|    2|
+------------+-----+
only showing top 20 rows